@import "common.scss";
/*自定义内容：当浏览器宽度大于1400px时*/
/*自定义内容：重置container的最小宽度*/
@media (min-width: 1320px) {
    .container {
        width: 1320px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1380px;
    }
}
body{
    font-family:'Microsoft YaHei';
    background-color:#fafafa;
}
/****可复用样式 开始****/
/***白色背景***/
.white_bj{
    background-color:#fff !important;
}

/***title***/
.web_title{
    text-align:center;
    margin:64px 0;
    padding:34.5px 0;
    span{
        display:inline-block;
        line-height:30px;
        font-size:26px;
        font-weight:bold;
        color:#da3031;
        margin-bottom:10px;
    }
    p{
        margin:0;
        font-weight:bold;
    }
}

/***当前位置条***/
.toolbar{
    font-size:12px;
    margin:10px 0;
}

/***最新动态、招贤纳士 左侧导航***/
.menu{
    margin-bottom:20px;
    p{
        color:#fff;
        background-color:#dd3131;
        text-align:center;
        font-size:20px;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        margin:0;
        padding:25px 0;
        span{
            font-weight:bold;
        }
    }
    ul{
        background-color:#fff;
        border:1px solid #eee;
        li{
            padding:20px 30px;
            border-bottom:1px solid #eee;
            font-size:16px;
            &.active{
                background-color:#f1f1f1;
            }
        }
    }
}
/****可复用样式 结束****/
/****left menu 开始****/
.left_menu{
    p{
        margin-bottom:0;
        padding:10px 15px;
        background-color:#dd3131;
        font-size:16px;
        color:#fff;
    }
    .Practice_menu{
        ul{
            border-left:1px solid #ccc;
            border-right:1px solid #ccc;
            li{
                padding:15px 20px;
                background-color:#fff;
                border-top:1px solid #ededed;
            }
        }
    }
    .Surname_menu{
        padding:10px;
        background-color:#fff;
        border:1px solid #ccc;
        span{
            width:30px;
            height:30px;
            font-size:16px;
            text-align:center;
            line-height:28px;
            display:inline-block;
            border:1px solid #f1f1f1;
            margin:10px;
            &.active{
                background-color:#fafafa;
            }
        }
    }
}

/****Practice menu 结束****/

/***各个部分css样式文件引入 开始***/
@import "index.scss";
@import "news.scss";
@import "practice.scss";
@import "lawyer.scss";
/***各个部分css样式文件引入 结束***/

/***顶部、导航 开始***/
a{
    &:link,&:visited{
        color:#333;
        text-decoration:none;
    }
    &:hover{
        text-decoration:underline;
        color:#C90000;
        -moz-transition:color .3s linear;
        -webkit-transition:color .3s linear;
        -o-transition:color .3s linear;
        transition:color .3s linear;
    }
}

.header{
    padding-top:10px;
    div{
        p{
            text-align:right;
            &:first-child{
                background:url(/Content/Images/tel_red.png) center left no-repeat;
                display:inline-block;
                padding-left:40px;
                font-size:12px;
                span{
                    font-size:16px;
                    color:#df342e;
                }
            }
        }
    }
}

.navbar{
    margin-bottom:0;
    border-radius:0;
    .navbar-header{
        .navbar-toggle{
            color:#FFF !important;
        }
    }
}

.navbar-inverse{
    //width:100%;
    //position:fixed;
    //top:0;
    background-color:#dd3131;
    border:none;
    box-shadow: 0px 2px 3px #e66565;
    .navbar-collapse{
        .navbar-nav{
            width:100%;
            li{
                text-align:center;
                a{
                    color:#FFF;
                    font-size:20px;
                    -moz-transition:background-color .2s linear;
                    -webkit-transition:background-color .2s linear;
                    -o-transition:background-color .2s linear;
                    transition:background-color .2s linear;
                    &:hover{
                        background-color:#C90000;
                        color:#FFF;
                    }
                }
                &.active{
                    background-color:#ce2b2b;
                    border-bottom:3px solid #fff;
                    a{
                        background:none;
                    }
                }
            }
        }
    }
}
/***顶部、导航 结束***/

/***底部、脚注 开始***/
footer{  
    background-color:#e2e1e1;
    border:1px solid #FCEEEE;
    padding:50px 0 0 0;
    .footer_top{
        padding-bottom:50px;
        border-bottom:1px dashed #cacaca;
        h4{
            margin-bottom:20px;
            img{
                margin-right:5px;
            }
        }
        ul{
            overflow:hidden;
            padding-left:40px;
            padding-bottom:10px;
            li{
                float:left;
                font-size:16px;
                margin-right:15px;
                padding-bottom:10px;
            }            
        }
        .hotline{
            div{
                background:url(/Content/Images/tel_hotline.png) left 5px no-repeat;
                padding-left:55px;
                p{
                    font-size:22px;
                    margin:0;
                }
                span{
                    font-size:28px;
                    line-height:44px;
                    color:#f6c164;
                }
            }        
        }
        .barcode{
            padding:0;
            h3{
                text-align:center;
                margin-bottom:15px;
            }
            img{
                margin-bottom:15px;
            }
            p{
                font-size:26px;
                text-align:left;
            }
        }
    }
    .footer_bottom{
        padding:45px 0;
        text-align:center;
        border-top:1px solid #cacaca;
        ul{    
            li{
                display:inline-block;
                a{
                    text-decoration:none;
                    &:hover{
                        text-decoration:none;
                    }
                }
            }
        }
    }
}
.copyright{
    background:#a7a7a7;
    padding:15px 0;
    color:#fff;
    .pull-right{
        margin:10px 0;
    }
}
/***底部、脚注 结束***/