
    <div class="page">
        <main id="perspective" class="page-content">
            <div class="content-wrapper">
                <div class="page-header page-header-perspective page-header-perspective-transparent">
                    <div class="page-header-left">
                        <a href="index.html" class="brand">
                            <div class="brand-logo-default">
                                <img src="~/Content/Images/logo-default-199x36.png" alt="" width="199" height="36">
                            </div>
                            <div class="brand-logo-white">
                                <img src="~/Content/Images/logo-white-200x36.png" alt="" width="200" height="36">
                            </div>
                        </a>
                    </div>
                    <div class="page-header-right">
                        <div class="booking-control"><a href="step-1.html" class="btn btn-xs btn-circle btn-primary">BOOK NOW</a></div>
                        <div id="perspective-open-menu" data-custom-toggle=".perspective-menu-toggle" data-custom-toggle-hide-on-blur="true" class="">
                            <span class="perspective-menu-text">Menu</span>
                            <button class="perspective-menu-toggle"><span></span></button>
                        </div>
                    </div>
                </div>
                <div id="wrapper">
                    <section style="background-image: url(/Content/Images/bg-image-2.jpg);" class="jumbotron-custom jumbotron-custom-1 bg-gray-base bg-image text-center">
                        <div class="jumbotron-custom-content">
                            <div class="shell">
                                <div class="range range-sm-center">
                                    <div class="cell-sm-10 cell-lg-9">
                                        <a href="index.html" class="brand-big"><img src="~/Content/Images/logo-md-white-136x160.png" alt="" width="136" height="160"></a>
                                        <p class="caption">The Best</p>
                                        <h1>Masters of the Blade</h1>
                                        <p class="large">At Barbershop, you will find an atmosphere of old school sophistication with modern amenities.We cater to gentlemen on the go. So stop in on your lunch break to get an old-fashioned straight razor shave or a perfect haircut.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="perspective-content-overlay"></div>
            </div>
            <div class="rd-navbar-wrap" style="height: 393px;">
                <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-sidebar" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-sidebar" data-stick-up-clone="false" class="rd-navbar rd-navbar-default rd-navbar-original rd-navbar-sidebar">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle toggle-original"><span></span></button>
                            <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><img src="~/Content/Images/logo-default-199x36.png" alt="" width="199" height="36"></a></div>
                        </div>
                        <div class="rd-navbar-nav-wrap toggle-original-elements">
                            <div class="rd-navbar-nav-inner">
                                <ul class="rd-navbar-nav">
                                    <li class="active rd-navbar--has-megamenu rd-navbar-submenu">
                                        <a href="index.html">Home</a>
                                        <ul class="rd-navbar-megamenu rd-navbar-open-right">
                                            <li>
                                                <p class="rd-megamenu-header"><a href="index.html">Home</a></p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="home-variant-2.html">Home variant 2</a></li>
                                                    <li><a href="home-variant-3.html">Home variant 3</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header"><a href="about.html">About</a></p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="barbers.html">barbers</a></li>
                                                    <li><a href="testimonials.html">Testimonials</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header">Contact Us</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="contacts-1.html">Contacts 1</a></li>
                                                    <li><a href="contacts-2.html">Contacts 2</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header"><a href="services.html">Services</a></p>
                                            </li>
                                            <li>
                                                <p class="rd-megamenu-header">Book</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="step-1.html">Step 1</a></li>
                                                    <li><a href="step-2.html">Step 2</a></li>
                                                    <li><a href="step-3.html">Step 3</a></li>
                                                    <li><a href="step-4.html">Step 4</a></li>
                                                    <li><a href="finish.html">Finish</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header">Blog</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="single-post.html">Single post</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header"><a href="shop.html">Shop</a></p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="single-product.html">Single product</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="rd-megamenu-header">Pages</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="404-page.html">404 page</a></li>
                                                    <li><a href="503-page.html">503 page</a></li>
                                                    <li><a href="maintenance.html">Maintenance</a></li>
                                                    <li><a href="coming-soon.html">Coming soon</a></li>
                                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header">Layouts</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="header-perspective.html">Header perspective</a></li>
                                                    <li><a href="header-transparent.html">Header transparent</a></li>
                                                    <li><a href="header-fullwidth.html">Header fullwidth</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="rd-megamenu-header">Layouts</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="footer-default.html">Footer default</a></li>
                                                    <li><a href="footer-variant-2.html">Footer variant 2</a></li>
                                                    <li><a href="footer-variant-3.html">Footer variant 3</a></li>
                                                </ul>
                                                <p class="rd-megamenu-header">Additional</p>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="buttons.html">Buttons</a></li>
                                                    <li><a href="forms.html">Forms</a></li>
                                                    <li><a href="grid.html">Grid</a></li>
                                                    <li><a href="progress-bars.html">Progress Bars</a></li>
                                                    <li><a href="tables.html">Tables</a></li>
                                                    <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                                                    <li><a href="typography.html">Typography</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="about.html">About</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li>
                                                <a href="barbers.html">barbers</a>
                                            </li>
                                            <li>
                                                <a href="testimonials.html">Testimonials</a>
                                            </li>
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span>
                                    </li>
                                    <li>
                                        <a href="services.html">Services</a>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="blog.html">Blog</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li>
                                                <a href="single-post.html">Single post</a>
                                            </li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="shop.html">Shop</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li>
                                                <a href="single-product.html">Single product</a>
                                            </li>
                                            <li>
                                                <a href="cart.html">Cart</a>
                                            </li>
                                            <li>
                                                <a href="checkout.html">Checkout</a>
                                            </li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">Contacts</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li>
                                                <a href="contacts-1.html">Contacts 1</a>
                                            </li>
                                            <li>
                                                <a href="contacts-2.html">Contacts 2</a>
                                            </li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span>
                                    </li>
                                </ul>
                                <div class="rd-navbar-nav-footer">
                                    <ul class="inline-list inline-list-md">
                                        <li><a href="#" class="icon icon-xs link-gray-base fa-facebook"></a></li>
                                        <li><a href="#" class="icon icon-xs link-gray-base fa-twitter"></a></li>
                                        <li><a href="#" class="icon icon-xs link-gray-base fa-youtube"></a></li>
                                        <li><a href="#" class="icon icon-xs link-gray-base fa-linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </main>
    </div>
    