@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
<h1 style="margin-top:80px">@L("WellcomeMessage")</h1>
<div class="row">
    <div class="col-md-12">

    </div>

</div>