@using Abp.Web.Mvc.Extensions
@using EasyFast.Application.Column.Dto
@model List<ColumnGridOutput>



<div class="row">
    <div class="col-md-12 opt">
        <a href="@Url.Action("AddSingle")" class="btn green opt"><i class="fa fa-plus-square"></i>添加单页栏目</a>
        <a href="@Url.Action("AddColumn")" class="btn blue opt"><i class="fa fa-plus-square"></i>添加栏目节点</a>
    </div>
    <div class="col-md-12">
        <table class="table tree">
            <thead>
                <tr>
                    <th>栏目名称</th>
                    <th>栏目类型</th>
                    <th>数据量</th>
                    <th>优先级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="treeBody"></tbody>
        </table>
    </div>
</div>

@section Scripts{
    @Html.IncludeScript("/Areas/Admin/Views/Column/index.js")
}


