@using Abp.Web.Mvc.Extensions
@using EasyFast.Application.Column.Dto

<div class="portlet-title portle-title-filter">
    <div class="inputs inputs-full-width">
        <div class="portlet-input">
            <form>
                <div class="input-group">
                    <input id="searchName" class="form-control" placeholder="请输入搜索关键词"
                           type="text" />
                    <span class="input-group-btn">
                        <button id="GetModelButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 opt">
        <a href="@Url.Action("AddSingle")" class="btn green opt"><i class="fa fa-plus-square"></i>添加单页栏目</a>
        <a href="@Url.Action("AddColumn")" class="btn blue opt"><i class="fa fa-plus-square"></i>添加栏目节点</a>
    </div>
    <div class="col-md-12">
        <table class="table tree">
            <thead>
                <tr>
                    <th>栏目名称</th>
                    <th>栏目类型</th>
                    <th>数据量</th>
                    <th>优先级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="treeBody"></tbody>
        </table>
    </div>
    <div id="pageBar"></div>
</div>

@section Scripts{
    @Html.IncludeScript("/Areas/Admin/Views/Column/index.js")
}



