@model EasyFast.Application.ContentModel.ModelRecord.Dto.ModelRecordDto

@Html.Partial("/Areas/Admin/Views/Common/_ModalHeader.cshtml")


<div class="modal-body">
    <form name="ContentModelForm" novalidate>
        <div class="form-group form-md-line-input form-md-floating-label">
            <input class="form-control" type="text" name="Name" required />
            <label>名称</label>
        </div>
    </form>
</div>

@Html.Partial("/Areas/Admin/Views/Common/_ModalFooterWithSaveAndCance.cshtml")
