<div class="row Practice_menu">
    <div class="col-md-10 col-md-offset-1">
        <p>按专业领域查找律师</p>
        <ul>
            <li>
                诉讼、仲裁法律服
            </li>
            <li>
                诉讼、仲裁法律服
            </li>
        </ul>
    </div>
</div>
