<div class="col-md-2 menu">
    <div class="row">
        <p><span>京师</span>快讯/NEWS</p>
        <ul>
            <li class="active"><a href="#"></a>最新动态<span class="pull-right">&gt;</span> </li>
            <li><a href="#"></a>客户服务<span class="pull-right">&gt;</span> </li>
            <li><a href="#"></a>媒体报道<span class="pull-right">&gt;</span> </li>
        </ul>
    </div>
</div>
