<div class="container">
    <div class="row">
        <div class="col-md-12 toolbar clearfix">
            <span class="pull-left">
                <i class="fa fa-home"></i>&nbsp;&nbsp;<a href="/Home/Index">首页</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/News/List">新闻动态</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="javascript:;">最新动态</a>
            </span>
            <span class="pull-right">京师律师事务所（聊城分所）</span>
        </div>
        @Html.Partial("_News_menu")
        <div class="col-md-10 news">
            <div class="col-md-12 white_bj">
                <div class="news_info">
                    <h4>餐饮企业止步A股，香港上市唯一选择？——海底捞分拆颐海港股上市，你值得拥有！</h4>
                    <span>更新时间：2016-8-04   /   13:50  |  阅读次数：[30]</span>
                    <div>
                        <p> 2017年2月16日上午，京师律师联盟签约仪式在京师律师大厦三层第一会议室成功举办。内蒙古铎誉律师事务所（包头）主任刘学云律师，京师律师事务所分所协调部主管孙亚磊先生，客服部杜建朝先生共同出席了此次会议。</p>
                        <img src="~/Content/Images/News/news_img.jpg" />
                    </div>
                    <p>2016-4-12   来自：京师律师事务所全球总部北京</p>
                </div>
            </div>
            
        </div>
    </div>
</div>