<div class="container">
    <div class="row">
        <div class="col-md-12 toolbar clearfix">
            <span class="pull-left">
                <i class="fa fa-home"></i>&nbsp;&nbsp;<a href="/Home/Index">首页</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/News/List">新闻动态</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="javascript:;">京师快讯</a>
            </span>
            <span class="pull-right">京师律师事务所（聊城分所）</span>
        </div>
        @Html.Partial("_News_menu")
        <div class="col-md-10">
            <ul class="col-md-12 news_list">
                <li>
                    <a class="clearfix" href="/News/Info">
                        <div class="col-md-2 col-sm-3 count">
                            <div>
                                浏览次数
                                <span>56</span>
                                <p>2017-02-23</p>
                            </div>
                        </div>
                        <div class="col-md-10 content">
                            <h4>京师上海、深圳、广州、沈阳分所（筹）正式签约启动</h4>
                            <p>
                                2017年2月22日下午，京师上海分所（筹）深圳分所（筹）
                                师沈阳分所（筹）签约仪式于京师律师大厦三层第一会议室成功启动。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="/News/Info">
                        <div class="col-md-2 col-sm-3 count">
                            <div>
                                浏览次数
                                <span>56</span>
                                <p>2017-02-23</p>
                            </div>
                        </div>
                        <div class="col-md-10 content">
                            <h4>京师上海、深圳、广州、沈阳分所（筹）正式签约启动</h4>
                            <p>
                                2017年2月22日下午，京师上海分所（筹）深圳分所（筹）
                                师沈阳分所（筹）签约仪式于京师律师大厦三层第一会议室成功启动。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="/News/Info">
                        <div class="col-md-2 col-sm-3 count">
                            <div>
                                浏览次数
                                <span>56</span>
                                <p>2017-02-23</p>
                            </div>
                        </div>
                        <div class="col-md-10 content">
                            <h4>京师上海、深圳、广州、沈阳分所（筹）正式签约启动</h4>
                            <p>
                                2017年2月22日下午，京师上海分所（筹）深圳分所（筹）
                                师沈阳分所（筹）签约仪式于京师律师大厦三层第一会议室成功启动。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="/News/Info">
                        <div class="col-md-2 col-sm-3 count">
                            <div>
                                浏览次数
                                <span>56</span>
                                <p>2017-02-23</p>
                            </div>
                        </div>
                        <div class="col-md-10 content">
                            <h4>京师上海、深圳、广州、沈阳分所（筹）正式签约启动</h4>
                            <p>
                                2017年2月22日下午，京师上海分所（筹）深圳分所（筹）
                                师沈阳分所（筹）签约仪式于京师律师大厦三层第一会议室成功启动。
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>