<div class="shell">
    <div class="team_left">
        <img src="~/Content/Images/services-1-461x514.jpg" />
    </div>
    <div class="team_right">
        <div class="team-title">
            <div class="row" id="teaminfo_nav">
                <div class="sub_tab2 teaminfo-nav-tab">
                    <ul class="nav nav-tabs">
                        <li class="li_case active">
                            <a href="javascript:;">经典案例</a>
                        </li>
                        <li class="li_lawyer">
                            <a href="javascript:;">主要律师</a>
                        </li>
                        <li class="li_team">
                            <a href="javascript:;">团队</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="team_content">

        </div>
    </div>
</div>