
    <div class="page">
        <section>
            <div data-loop="false" data-autoplay="false" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 bg-gray-base swiper-container-horizontal">
                <div class="swiper-wrapper text-center" style="transform: translate3d(0px, 0px, 0px);">
                    <div data-slide-bg="images/home-slider-1-slide-1.jpg" class="swiper-slide swiper-slide-active" style="background-image: url(&quot;images/home-slider-1-slide-1.jpg&quot;); background-size: cover; width: 1887px;">

                    </div>
                    <div data-slide-bg="images/home-slider-1-slide-2.jpg" class="swiper-slide swiper-slide-next" style="background-image: url(&quot;images/home-slider-1-slide-2.jpg&quot;); background-size: cover; width: 1887px;">
                        <div class="swiper-slide-caption">
                            <div class="shell">
                                <div class="range range-sm-center range-lg-left">
                                    <div class="cell-lg-1 veil reveal-lg-inline-block veil-xl"></div>
                                    <div class="cell-sm-11 cell-md-8 cell-lg-6 text-lg-left">
                                        <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header text-ebony-clay not-animated">Does Your Money<br>Need Speed?</h2>
                                        <p data-caption-animate="fadeInUp" data-caption-delay="100" class="text-bigger text-regular slider-text text-ebony-clay offset-top-10 not-animated">Our company can assist you with any aspect of investment management</p>
                                        <div class="offset-top-30 offset-sm-top-35"><a data-caption-animate="fadeInUp" data-caption-delay="250" href="#" class="btn btn-rect btn-icon btn-icon-right btn-primary big not-animated"><span class="icon icon-xs fa-angle-right"></span>Get a Quote</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="section-50 section-sm-90">
            <div class="shell text-center">
                <h3>Our Services</h3>
                <div class="range range-xs-center offset-top-40">
                    <div class="cell-xs-10 cell-sm-6 cell-md-4 height-fill">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-4"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Market Research</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                            </div>
                        </article>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-4 height-fill offset-top-40 offset-sm-top-0">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-5"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Investment Management</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                            </div>
                        </article>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-4 height-fill offset-top-40 offset-md-top-0">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-6"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Sales &amp; Trading</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project. </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-50 section-sm-100">
            <div class="shell">
                <div class="range">
                    <div class="cell-xs-12 text-center">
                        <h3>Meet Our Team</h3>
                    </div>
                </div>
                <div class="range offset-top-40">
                    <div class="cell-xs-6 cell-sm-4 cell-md-3">
                        <div class="thumbnail-variant-2-wrap">
                            <div class="thumbnail thumbnail-variant-2">
                                <figure class="thumbnail-image">
                                    <img src="images/team-9-246x300.jpg" alt="" width="246" height="300">
                                </figure>
                                <div class="thumbnail-inner">
                                    <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-white">+1 (409) 987–5874</a></div>
                                    <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="mailto:#" class="link-white">info@demolink.org</a></div>
                                </div>
                                <div class="thumbnail-caption">
                                    <p class="text-header"><a href="team-member-profile.html">Amanda Smith</a></p>
                                    <div class="divider divider-md"></div>
                                    <p class="text-caption">Investment Expert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-40 offset-xs-top-0">
                        <div class="thumbnail-variant-2-wrap">
                            <div class="thumbnail thumbnail-variant-2">
                                <figure class="thumbnail-image">
                                    <img src="images/team-10-246x300.jpg" alt="" width="246" height="300">
                                </figure>
                                <div class="thumbnail-inner">
                                    <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-white">+1 (409) 987–5874</a></div>
                                    <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="mailto:#" class="link-white">info@demolink.org</a></div>
                                </div>
                                <div class="thumbnail-caption">
                                    <p class="text-header"><a href="team-member-profile.html">John Doe</a></p>
                                    <div class="divider divider-md"></div>
                                    <p class="text-caption">Trade Expert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-40 offset-sm-top-0">
                        <div class="thumbnail-variant-2-wrap">
                            <div class="thumbnail thumbnail-variant-2">
                                <figure class="thumbnail-image">
                                    <img src="images/team-11-246x300.jpg" alt="" width="246" height="300">
                                </figure>
                                <div class="thumbnail-inner">
                                    <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-white">+1 (409) 987–5874</a></div>
                                    <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="mailto:#" class="link-white">info@demolink.org</a></div>
                                </div>
                                <div class="thumbnail-caption">
                                    <p class="text-header"><a href="team-member-profile.html">Vanessa Ives</a></p>
                                    <div class="divider divider-md"></div>
                                    <p class="text-caption">Investment Expert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-40 offset-md-top-0">
                        <div class="thumbnail-variant-2-wrap">
                            <div class="thumbnail thumbnail-variant-2">
                                <figure class="thumbnail-image">
                                    <img src="images/team-12-246x300.jpg" alt="" width="246" height="300">
                                </figure>
                                <div class="thumbnail-inner">
                                    <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-white">+1 (409) 987–5874</a></div>
                                    <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="mailto:#" class="link-white">info@demolink.org</a></div>
                                </div>
                                <div class="thumbnail-caption">
                                    <p class="text-header"><a href="team-member-profile.html">David Nicholson</a></p>
                                    <div class="divider divider-md"></div>
                                    <p class="text-caption">Trade Expert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>