@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "内容模型管理";
}
@Html.IncludeScript("~/Scripts/jquery-2.2.0.min.js")
    <div class="row margin-buttom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>模型</span><small>@L("ModelManager")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button id="CreateNewModelButton" class="btn btn-primary blue"><i class="fa fa-plus"></i>添加模型</button>
        </div>

    </div>
    <div class="protlet light">
        <div class="portlet-title portle-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input id="ModelTableFilter" class="form-control" placeholder="请输入搜索关键词"
                                   type="text" value="@ViewBag.FilterTest" />
                            <span class="input-group-btn">
                                <button id="GetModelButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="portlet-body">
            <div>
                <div id="ContentModelTable"></div>
            </div>
        </div>
    </div>

    @Html.IncludeScript("/Areas/Admin/Views/Model/index.js")