<div class="container">
    <div class="row">
        <div class="col-md-12 toolbar">
            <span>
                <i class="fa fa-home"></i>&nbsp;&nbsp;<a href="/Home/Index">首页</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/News/List">业务领域</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="javascript:;">刑事法律事务部</a>
                &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="javascript:;">律师简历</a>
            </span>
        </div>
        <div class="col-md-3 left_menu">
            @Html.Partial("_Practice_menu")
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>按姓氏查找律师</p>
                    <div class="Surname_menu">
                        <span class="active">A</span>
                        <span>B</span>
                        <span>C</span>
                        <span>D</span>
                        <span>E</span>
                        <span>F</span>
                        <span>G</span>
                        <span>H</span>
                        <span>I</span>
                        <span>J</span>
                        <span>K</span>
                        <span>L</span>
                        <span>M</span>
                        <span>N</span>
                        <span>O</span>
                        <span>P</span>
                        <span>Q</span>
                        <span>R</span>
                        <span>S</span>
                        <span>T</span>
                        <span>U</span>
                        <span>V</span>
                        <span>W</span>
                        <span>X</span>
                        <span>Y</span>
                        <span>Z</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 white_bj lawyer_info">
            <p class="col-md-12">律师基本信息</p>
            <div class="col-md-12 lawyer_resume">
                <div class="row">
                    <div class="col-md-4 lawyer_Avatar">
                        <img src="~/Content/Images/Lawyer/header.png"/>
                    </div>
                    <div class="col-md-8 lawyer_Introduction">
                        <ul>
                            <li class="clearfix">
                                <span class="col-md-3 col-sm-3">姓名：</span>
                                <p class="col-md-9 col-sm-9">邓海红</p>
                            </li>
                            <li class="clearfix">
                                <span class="col-md-3 col-sm-3">E-Mail：</span>
                                <p class="col-md-9 col-sm-9">baiyunfei@jingsh.com</p>
                            </li>
                            <li class="clearfix">
                                <span class="col-md-3 col-sm-3">办公室：</span>
                                <p class="col-md-9 col-sm-9">北京总部</p>
                            </li>
                            <li class="clearfix">
                                <span class="col-md-3 col-sm-3">职位：</span>
                                <p class="col-md-9 col-sm-9">刑事法律事务部部门主任</p>
                            </li>
                            <li class="clearfix">
                                <span class="col-md-3 col-sm-3">擅长领域：</span>
                                <p class="col-md-9 col-sm-9">
                                    诉讼、仲裁法律服务 、公司法律服务
                                    医疗纠纷诉讼、 企业法律风险管理
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="col-md-12">个人简历</p>
            <div class="col-md-12 lawyer_description">
                <h4>职业生涯概述</h4>
                <p>
                    邓海红律师毕业于中国政法大学，于2006年步入律师行业，
                    2014年6月加盟北京市京师律师事务所，现为京师律师，
                    全国律师协会会员，中国法学会会员。
                </p>
                <p>
                    邓海红律师曾独立办理或参与代理近百宗民商事诉讼与仲裁案件
                    ，均取得较好效果；此外，白飞云律师还担任多家大中小型企、
                    事业单位的法律顾问，成功总结了一整套完整的企业法律风险防范体系，
                    从企业内部法律风险和外部法律风险两大方面为企业运营提供了强大的法律保障，
                    赢得了广大客户的肯定和信赖。
                </p>
                <p>
                    医疗纠纷法律事务是白飞云律师的一项业务专长，
                    白飞云律师对医疗纠纷类案件的处理有着丰富的经验和独特的见解，
                    自2008年首次代理此类型案件以来，至今已经实际参与代理或独立办理近30件医疗纠纷类案件，
                    藉借前期大量处理院方医疗纠纷法律事务的丰富实践经验，
                    白飞云律师对于患方医疗纠纷案件关键点的把握更是得心应手，
                    使许多复杂的医疗纠纷得以解决。
                </p>
                <h4>专业领域</h4>
                <p>
                    1、医疗纠纷法律事务：医疗侵权的归责原则与责任认定，
                    对医疗现场实物封存与检验程序，病历复印和封存程序，
                    尸体解剖程序，协商程序，调解程序，诉讼程序，
                    司法鉴定程序，损害赔偿计算方法等。
                </p>
                <p>
                    2、企业法律顾问业务：为委托方的重大经营决策提供法律和政策依据，
                    协助草拟、制订、审查或修改各类合同、协议，应邀参与委托方高层会议、
                    企业策划、商务谈判，进行法律分析、论证，办理资信调查、可行性研究、
                    风险预测和项目投资论证，代理委托方涉及经济、民事、知识产权、劳动、
                    行政、刑事等诉讼、非诉、调解和仲裁活动。
                </p>
                <p>
                    执业信念——只要您选择，我们就不负所托！
                </p>
                <p>
                    1、我们有专业的律师团队，我们的团队锐意进取；
                </p>
                <p>
                    2、我们有成套的法律服务产品，我们的产品将为您量身定做；
                </p>
                <p>
                    3、我们不止救火（起诉、应诉），我们给您的最佳解决方案——是将完善的法律管理服务体系融入您企业运作的全过程。
                </p>
            </div>
        </div>
    </div>
</div>
