<div class="container">
    <div class="row">
        <div class="col-md-12 white_bj lawyer_list_search">
            <div class="row">
                <p>
                    首页&nbsp;&nbsp;&gt;&nbsp;&nbsp;专业团队
                    <span class="pull-right">京师律师事务所(聊城分所)</span>
                </p>
                <h3><img src="~/Content/Images/Lawyer/lawyer_title_shu.png" />按姓氏找律师</h3>
                <div class="lawyer_list_surname">
                    <span class="active">A</span>
                    <span>B</span>
                    <span>C</span>
                    <span>D</span>
                    <span>E</span>
                    <span>F</span>
                    <span>G</span>
                    <span>H</span>
                    <span>I</span>
                    <span>J</span>
                    <span>K</span>
                    <span>L</span>
                    <span>M</span>
                    <span>N</span>
                    <span>O</span>
                    <span>P</span>
                    <span>Q</span>
                    <span>R</span>
                    <span>S</span>
                    <span>T</span>
                    <span>U</span>
                    <span>V</span>
                    <span>W</span>
                    <span>X</span>
                    <span>Y</span>
                    <span>Z</span>
                    <div class="col-md-7 pull-right">
                        <input class="col-md-8" type="text" placeholder="请输入律师姓名、或专业领域" />
                        <input class="col-md-3" type="button" value="搜索"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 left_menu">
                @Html.Partial("_Practice_menu")
            </div>
        </div>
    </div>
</div>