    <div class="page">
        <section class="section-50 section-sm-90">
            <div class="shell text-center">
                <h3>Our Services</h3>
                <div class="range range-xs-center offset-top-40">
                    <div class="cell-xs-10 cell-sm-6 cell-md-3 height-fill">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-4"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Market Research</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                            </div>
                        </article>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-3 height-fill offset-top-40 offset-sm-top-0">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-5"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Investment Management</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                            </div>
                        </article>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-3 height-fill offset-top-40 offset-md-top-0">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-6"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Sales &amp; Trading</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project. </p>
                            </div>
                        </article>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-3 height-fill offset-top-40 offset-sm-top-0">
                        <article class="icon-box">
                            <div class="box-top">
                                <div class="box-icon"><span class="icon icon-primary icon-lg icon-5"></span></div>
                                <div class="box-header">
                                    <h5><a href="#">Investment Management</a></h5>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="box-body">
                                <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>