<h1 class="page-title">
    后台首页<small>欢迎您使用易迅CMS系统！</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><span>我的工作台</span></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>