<h1 class="page-title">
    栏目管理<small>栏目区分普通栏目和单页栏目，单页栏目不包含具体内容，例如关于我们、联系我们等独立页面</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Admin/Column/Index">栏目管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>添加栏目节点</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>