<!--律师管理—律师列表管理-->
<h1 class="page-title">
    律师管理<small> 本功能用于对律师进行增删改，系统会依据通知配置进行相应通知。</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="/Admin/Lawyer/Home/Index">律师管理</a><i class="fa fa-angle-right"></i></li>
        <li><a href="/Admin/Lawyer/Manage/List">律师列表管理</a></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <h3>功能说明：</h3>
            <p>
                审批状态说明：
                <img src="//cdn.jingshonline.com/images/icon/16/icon_default.png" title="待提交审批" /> 待提交审批
                <img src="//cdn.jingshonline.com/images/icon/16/icon_bug.png" title="审批中" /> 审批中
                <img src="//cdn.jingshonline.com/images/icon/16/icon_false.png" title="审批驳回" /> 审批驳回
                <img src="//cdn.jingshonline.com/images/icon/16/icon_true.png" title="审批通过" /> 审批通过
            </p>
            <p>您可以通过【真实姓名】、【手机号】、【律所】三项条件进行综合检索。</p>
        </div>
    </div>
</div>