<!--简历管理—社会职务管理-->
<h1 class="page-title">
    社会职务管理<small> 本功能用于对社会职务进行增删改，系统会依据通知配置进行相应通知。</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="/Admin/Resume/Home/Index">简历管理</a><i class="fa fa-angle-right"></i></li>
        <li><a href="/Admin/Resume/SocialPosition/Index">社会职务管理</a></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <h3>功能说明：</h3>
            <p>
                审批状态说明：
                <img src="//cdn.jingshonline.com/images/icon/16/icon_bug.png" title="尚未审批" /> 尚未审批。
                <img src="//cdn.jingshonline.com/images/icon/16/icon_false.png" title="审批驳回" /> 审批驳回
                <img src="//cdn.jingshonline.com/images/icon/16/icon_true.png" title="审批通过" /> 审批通过
            </p>
        </div>
    </div>
</div>