<!--积分管理----案例积分管理-->
<h1 class="page-title">
    案例积分管理
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="/Admin/Integral/CaseIntegral">案例积分管理</a></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>
<div class="row declare">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <h3>功能说明：</h3>
            <p>
                案例积分用于控制前台案例显示顺序
                <span class="alert-danger">案例积分总分由各个积分项与系数相乘后相加计算得出</span>
            </p>
            <p class="alert-danger">
                积分项：【典型案例】、【案例浏览量】、【案例丰富、内容完整度】、【办案律师积分】、【人工手动推荐】
                <br />
                总分=【积分项1】*系数+【积分项2】*系数+......+【积分项n】*系数
            </p>
        </div>
    </div>
</div>