<!--系统设置-地域管理-->
<h1 class="page-title">
    地域管理<small> 本页面用于配置地域。地域字典是案例、律师的重要基石，请慎重配置。</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="/Admin/Config/Home/Index">系统设置</a><i class="fa fa-angle-right"></i></li>
        <li><a href="/Admin/Config/Region/Index">地域管理</a></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>