<!--案例管理-首页-->
<h1 class="page-title">
    案例管理<small> 案例管理模块可对案例进行增删改审批等。<span class="btn btn-outline red">对案例的任何改动都将即时生效，请慎重修改。</span></small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="/Admin/Case/Home/Index">案例管理</a></li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                当前位置
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>
