<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">取消</button>
    <button type="button" class="btn blue save-button"><i class="fa fa-save"></i> <span>保存</span></button>
</div>